<% var myDate={ pageID : 'trust' , title : '信頼の裏付け' } %>

<%_ include("../_common/_define") _%>
<%- include("../_common/_head" ,{data:myDate}) %>
<%- include("../_common/_subheader" ,{data:myDate}) %>
<%- include("../_common/_lowerky" ,{data:myDate}) %>

<main class="main">

    <section class="trust__intro">
        <div class="container">
            <h2 class="title-01">企画から納品まで<br class="dp-none dp-block-down-sm">一貫した内製体制</h2>

        </div>
    </section>
    <!-- / END processing -->

</main>

<%- include("../_common/_foot" ,{data:myDate}) %>