<!-- ========= footer ========= -->
<footer class="footer">
  <div class="content_wrapper flex jc-bet mb30">
      <div class="footer__info">
          <div class="footer__logo mb20">
              <a href="./" class="cl-wht"><img src="<%= path(); %>/assets/images/common/ft_logo.png" alt="梶フエルト工業"><span class="fs-28 fw-700">梶フエルト工業</span></a>
          </div>
          <p class="mb20">〒131-0032 東京都墨田区東向島5-41-10<br><i class="fas fa-phone-alt"></i>03-3619-0136　Fax:03-3616-0505</p>
          <div class="flex footer__basic">
              <figure><img src="<%= path(); %>/assets/images/common/basic.jpg" alt=""></figure>
              <p>当社はISO9001、ISO14001の<br>認証を取得しています。</p>
          </div>
      </div>
      <div class="footer__nav">
          <nav class="flex jc-bet">
              <ul class="footer__nav-list">
                  <li><a href="#">ホーム</a></li>
                  <li><a href="#">素材加工</a></li>
                  <li><a href="#">信頼の裏付け</a></li>
                  <li><a href="#">材料販売</a></li>
              </ul>
              <ul class="footer__nav-list">
                  <li><a href="#">設備一覧</a></li>
                  <li><a href="#">お知らせ一覧</a></li>
                  <li><a href="#">会社概要</a></li>
                  <li><a href="#">お問合せ/ご注文</a></li>
              </ul>
              <ul class="footer__nav-list">
                  <li><a href="#">採用情報</a></li>
                  <li><a href="#">プライバシーポリシー</a></li>
              </ul>
          </nav>
      </div>
  </div>
  <p class="fs-11 ta-cen copyright">&copy;2008-2021 KAJI FELT Inc. All Rights Reserved.</p>
  <div class="footer__info-pagetop" id="js-pagetop">
      <img src="<%= path(); %>/assets/images/common/pagetop.png" alt="pagetop">
  </div>
  <a href="./" id="js-follow" class="follow_contact fs-18 cl-wht"><span>お<br>問<br>合<br>せ<br>は<br>こ<br>ち<br>ら</span><br><i class="fas fa-chevron-circle-right"></i></a>
</footer>
<!-- ========= / footer END ========= -->

<!-- ========= JS ========= -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="<%= path(); %>/assets/js/bundle.min.js"></script>

</body>

</html>