<body class="top">

	<!-- ========= header ========= -->
	<header class="header">
			<div class="header__logo dp-none-down-md">
					<h1 class="dp-none"></h1>
					<a href="./" class="ta-cen fw-700 fs-18 cl-wht">
							<img src="./assets/images/common/hd_logo.png" alt="梶フエルト工業">
							<p>梶フエルト工業</p>
					</a>
			</div>
			<div class="header__logo dp-none dp-block-down-md">
					<a href="./"><img src="./assets/images/common/sub_logo.png" alt="梶フエルト工業"></a>
			</div>
			<div class="dp-none dp-block-down-md">
					<nav class="header__gnav">
							<ul class="header__gnav-list flex ai-cen jc-bet fw-700 ta-cen cl-wht">
									<li class="header__gnav-list--item current"><a href="./">トップ</a></li>
									<li class="header__gnav-list--item"><a href="./">素材加工</a></li>
									<li class="header__gnav-list--item"><a href="./">信頼の裏付け</a></li>
									<li class="header__gnav-list--item"><a href="./">設備一覧</a></li>
									<li class="header__gnav-list--item"><a href="./">会社概要</a></li>
									<li class="header__gnav-list--item"><a href="./">お問合せ</a></li>
									<li class="header__gnav-list--item is-contact flex ai-cen jc-cen">
											<i class="fas fa-phone-alt fs-36"></i>
											<span class="tel_link">お急ぎならコチラ<br><span class="fs-30">03-3619-0136</span></span>
									</li>
							</ul>
					</nav>
			</div>
			<div class="header__sptrigger">
					<p class="tel_link"><i class="fas fa-phone-alt"></i></p>
					<div class="navToggle" id="js-navTrigger">
							<div>
									<span></span>
									<span></span>
									<span></span>
							</div>
					</div>
			</div>
			<!-- /.header__gnav -->
	</header>