 <!-- ========= keyvisual ========= -->
 <div class="sub__keyvisual fw-500 mb100">
	<div class="sub__keyvisual-copy">
			<div class="content_wrapper">
					<p><%= data.title %></p>
			</div>
	</div>
	<div class="sub__keyvisual-basic">
			<figure><img src="<%= path(); %>/assets/images/common/basic.jpg" alt=""></figure>
	</div>
</div>
<!-- ========= / keyvisual END ========= -->