<body class="sub <%= data.pageID %>">

	<!-- ========= header ========= -->
	<header class="header">
		<div class="header__logo">
				<a href="<%= path(); %>"><img src="<%= path(); %>/assets/images/common/sub_logo.png" alt="梶フエルト工業"></a>
		</div>
		<nav class="header__gnav">
				<ul class="header__gnav-list flex ai-cen jc-bet fw-700 ta-cen cl-wht">
						<li class="header__gnav-list--item current"><a href="<%= path(); %>">トップ</a></li>
						<li class="header__gnav-list--item"><a href="<%= path(); %>/">素材加工</a></li>
						<li class="header__gnav-list--item"><a href="<%= path(); %>trust">信頼の裏付け</a></li>
						<li class="header__gnav-list--item"><a href="<%= path(); %>facility">設備一覧</a></li>
						<li class="header__gnav-list--item"><a href="<%= path(); %>company">会社概要</a></li>
						<li class="header__gnav-list--item"><a href="<%= path(); %>contact">お問合せ</a></li>
						<li class="header__gnav-list--item is-contact flex ai-cen jc-cen">
								<i class="fas fa-phone-alt fs-36"></i>
								<span class="tel_link">お急ぎならコチラ<br><span class="fs-30">03-3619-0136</span></span>
						</li>
				</ul>
		</nav>
		<div class="header__sptrigger">
				<p class="tel_link"><i class="fas fa-phone-alt"></i></p>
				<div class="navToggle" id="js-navTrigger">
						<div>
								<span></span>
								<span></span>
								<span></span>
						</div>
				</div>
		</div>
		<!-- /.header__gnav -->
</header>