<% var myDate={ pageID : 'facility' , title : '設備一覧' } %>

<%_ include("../_common/_define") _%>
<%- include("../_common/_head" ,{data:myDate}) %>
<%- include("../_common/_subheader" ,{data:myDate}) %>
<%- include("../_common/_lowerky" ,{data:myDate}) %>

<main class="main">

    <section class="sub__facility mb100">
        <div class="container">
            <h2 class="title-01">主要設備</h2>
            <p class="txt fs-22">お当社では充実した機械設備をご用意しており、複雑な加工でも正確かつスピーディに対応できます。また受注から出荷までコンピューターで一括管理していますので常に品質/納品管理において高い信頼を頂いております。</p>
            <div class="facility__list">
                <div class="facility__list-item mt20">
                    <div class="flex jc-bet">
                        <div class="facility__list-item--header fs-36" id="fir">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg01.jpg" alt=""></figure>
                            <h3>連続型抜機</h3>
                        </div>
                        <div class="facility__list-item--header fs-36" id="sec">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg02.jpg" alt=""></figure>
                            <h3>P-CAM</h3>
                        </div>
                    </div>
                    <div>
                        <div class="facility__list-item--cont fir">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                        <div class="facility__list-item--cont sec">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facility__list-item mt20">
                    <div class="flex jc-bet">
                        <div class="facility__list-item--header fs-36" id="thi">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg03.jpg" alt=""></figure>
                            <h3>サーボカッター</h3>
                        </div>
                        <div class="facility__list-item--header fs-36" id="fou">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg04.jpg" alt=""></figure>
                            <h3>スーパーカッター</h3>
                        </div>
                    </div>
                    <div>
                        <div class="facility__list-item--cont thi">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                        <div class="facility__list-item--cont fou">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facility__list-item mt20">
                    <div class="flex jc-bet">
                        <div class="facility__list-item--header fs-36" id="fif">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg05.jpg" alt="ラミネーター"></figure>
                            <h3>ラミネーター</h3>
                        </div>
                        <div class="facility__list-item--header fs-36" id="six">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg06.jpg" alt="半自動バーチカル裁断機"></figure>
                            <h3>半自動バーチカル裁断機</h3>
                        </div>
                    </div>
                    <div>
                        <div class="facility__list-item--cont fif">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                        <div class="facility__list-item--cont six">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facility__list-item mt20">
                    <div class="flex jc-bet">
                        <div class="facility__list-item--header fs-36" id="sev">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg07.jpg" alt="漉き機"></figure>
                            <h3>漉き機</h3>
                        </div>
                        <div class="facility__list-item--header fs-36" id="eig">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg08.jpg" alt="パワープレス"></figure>
                            <h3>パワープレス</h3>
                        </div>
                    </div>
                    <div>
                        <div class="facility__list-item--cont sev">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                        <div class="facility__list-item--cont eig">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facility__list-item mt20">
                    <div class="flex jc-bet">
                        <div class="facility__list-item--header fs-36" id="nin">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg09.jpg" alt="スリッター"></figure>
                            <h3>スリッター</h3>
                        </div>
                        <div class="facility__list-item--header fs-36" id="ten">
                            <figure><img src="<%= path(); %>/assets/images/facility/facility_bg10.jpg" alt="二次元画像測定器"></figure>
                            <h3>二次元画像測定器</h3>
                        </div>
                    </div>
                    <div>
                        <div class="facility__list-item--cont nin">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                        <div class="facility__list-item--cont ten">
                            <div class="flex jc-bet">
                                <div class="desc">
                                    <h4 class="fs-28 fw-700 mb30">概要説明</h4>
                                    <p class="fs-18 fw-500">テーブル送りによる絶対的な精度により、順送抜や複雑な形状の加工が可能な高速連続型抜機</p>
                                </div>
                                <div class="quantity">
                                    <h4 class="fs-24 fw-700 mb10">保有台数</h4>
                                    <div class="flex ai-cen">
                                        <p class="flex-1">数値制御連続型抜機/坂本造機（株）製</p>
                                        <div class="btn"><a href="./">詳細画像</a></div>
                                    </div>
                                    <div class="flex jc-bet">
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">PAL500　3台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>500*350 </p>
                                                <p><span>- 有効材料サイズ</span>500*1300</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10">865B　1台</dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>50㌧</p>
                                                <p><span>- 有効型抜面積 </span>700*600</p>
                                                <p><span>- 有効材料サイズ</span>800*1700</p>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt class="fs-20 fw-700 mb10"></dt>
                                            <dd>
                                                <p><span>- 最大加圧力　</span>20㌧</p>
                                                <p><span>- 有効型抜面積 </span>1100*600</p>
                                                <p><span>- 有効材料サイズ</span>1100*1700</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal">
                                <div class="modal__cont">
                                    <p class="fs-36 modal__close"><i class="fas fa-times"></i></p>
                                    <h2 class="title mb50 ta-cen fs-36">連続型抜機</h2>
                                    <figure class="mb50"><img src="<%= path(); %>/assets/images/facility/modal_img01.jpg" alt="" class="w-100"></figure>
                                    <hr class="mb50">
                                    <div class="modal__slider flex jc-bet">
                                        <div class="modal__slider-main">
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                            <div>
                                                <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            </div>
                                        </div>
                                        <div class="modal__slider-nav">
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                            <figure><img src="<%= path(); %>/assets/images/facility/modal_img02.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p>ここに補足説明が入ります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / END processing -->

</main>

<%- include("../_common/_foot" ,{data:myDate}) %>