.container{
	width: 96%;
	max-width: $contents-width;
	margin: 0 auto;

	&-02{
		width: 96%;
		max-width: $contents-width02;
		margin: 0 auto;
	}

	&-03{
		width: 96%;
		max-width: ($contents-width - 360px);
		margin: 0 auto;
	}

	@include sp{
		width: get_per(335, 375);
	}
}

