
.sub .header__gnav {
  flex: 1;
  max-width: 1000px;
}

.sub__facility .txt {
  max-width: 810px;
  margin: 0 auto 50px;
}

.facility__list-item--header {
  position: relative;
  width: 49%;
  color: #fff;
  cursor: pointer;
}

.facility__list-item--header figure {
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.facility__list-item--header figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facility__list-item--header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 50, 49, .6);
}

.facility__list-item--header::after {
  content: '\f054';
  position: absolute;
  right: 3%;
  top: 50%;
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.facility__list-item--header h3 {
  position: absolute;
  left: 3%;
  top: 50%;
  width: 85%;
  font-weight: bold;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.facility__list-item--header:hover::before,
.facility__list-item--header.open::before {
  background: linear-gradient(to right, #00717b, transparent);
}

.facility__list-item--header.open::after {
  content: '\f078';
}

.facility__list-item--cont {
  position: relative;
  display: none;
  margin: 50px 0 40px;
  padding: 40px 3.5%;
  box-shadow: 0 0 10px rgba(88, 103, 87, .4);
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.facility__list-item--cont.show {
  display: block;
}

.facility__list-item--cont::before {
  content: url(../images/sub/triangle.png);
  position: absolute;
  bottom: 100%;
  left: 25%;
  line-height: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.facility__list-item--cont .desc {
  width: 43%;
}

.facility__list-item--cont .quantity {
  width: 54.5%;
  padding: 25px;
  background: #f2f1f4;
}

.facility__list-item--cont h4 {
  position: relative;
  padding-bottom: 20px;
}

.facility__list-item--cont h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  background: linear-gradient(to right, #06818e, #00494f);
}

.facility__list-item--cont .flex-1 {
  flex: 1;
  padding-right: 2rem;
}

.facility__list-item--cont .btn {
  width: 180px;
}

.facility__list-item--cont dl {
  width: 48.5%;
  margin-top: 15px;
  padding: 15px;
  background: #fff;
}

.facility__list-item--cont dd span {
  display: inline-block;
  width: 145px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 10vh 15px;
  background: rgba(0, 0, 0, .8);
  z-index: 14;
}

.modal.open {
  display: flex;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 15;
  cursor: pointer;
}

.modal__cont {
  position: relative;
  width: calc(100% - 30px);
  max-width: 980px;
  max-height: 80vh;
  padding: 50px 5%;
  background: #fff;
  overflow-y: scroll;
}

.modal__slider-main {
  width: 80%;
}

.modal__slider-nav {
  width: 19%;
}

.modal__slider-nav .slick-track {
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}

.modal__slider-nav .slick-track .slick-slide {
  margin-bottom: 10px;
  cursor: pointer;
}

.modal__slider-nav .slick-track .slick-slide.slick-current {
  border: 5px solid #057a86;
}

.modal__slider .slick-slide img {
  width: 100%;
}

.modal__slider-main .slick-dots {
  bottom: 10px;
}

.modal__slider-main .slick-dots li button:before {
  opacity: 1 !important;
  color: #fff;
  font-size: 10px;
}

.modal__slider-main .slick-dots li.slick-active button:before {
  color: #057a86;
}

@media screen and (min-width: 480px) {
  .modal__slider-nav .slick-track {
      width: 100% !important;
  }
  .modal__slider-nav .slick-track * {
      width: 100% !important;
  }
}

@media screen and (max-width: 919px) {
  .facility__list-item--cont .desc {
      width: 100%;
      margin-bottom: 3rem;
  }
  .facility__list-item--cont .quantity {
      width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .facility__list-item--header.fs-36 {
      font-size: 1.5rem !important;
  }
  .facility__list-item--header figure {
      height: 20vw;
  }
  .facility__list-item--cont .quantity {
      padding: 15px;
  }
  .facility__list-item--cont .btn {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
  }
  .facility__list-item--cont .flex-1 {
      flex: none;
      width: 100%;
      padding-right: 0;
  }
  .facility__list-item--cont dl,
  .modal__slider-nav {
      width: 100%;
  }
  .modal__slider-main {
      width: 100%;
      margin-bottom: 1rem;
  }
}