.sub__keyvisual {
    position: relative;
    height: 300px;
    background: url(../images/facility/sub_mv.jpg) no-repeat center / cover;
    @include sp{
        height: 200px;
      }
  }

  .trust .sub__keyvisual{
    background: url(../images/trust/sub_mv.jpg) no-repeat center / cover;
  }

  .sub__keyvisual-copy {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 11rem;
    line-height: 11rem;
    @include sp{
        font-size: 10vw;
      }
  }

  .sub__keyvisual-basic {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }