/* title -----------------*/
.title {
  &-01{
    position: relative;
    padding-bottom: 20px;
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
    &::after {
      content: '';
      position: absolute;
      left: calc(50% - 50px);
      bottom: 0;
      width: 100px;
      height: 3px;
      background: linear-gradient(to right, #06818e, #00494f);
    }
    @include sp{
      font-size: 3rem;
    }
  }
}
