@charset "UTF-8";

/* --------------------------------------------------------------------------------
web fonts
-------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap');
.en {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


/* Document
========================================================================== */


/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
*/

html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/* Sections
========================================================================== */


/**
* Add the correct display in IE 9-.
*/

article,
aside,
footer,
header,
nav,
section {
    display: block;
}


/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
========================================================================== */


/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
========================================================================== */


/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}


/**
* 1. Remove the bottom border in Chrome 57- and Firefox 39-.
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    /* 2 */
}


/**
* Prevent the duplicate application of `bolder` by the next rule in Safari 6.
*/

b,
strong {
    font-weight: inherit;
}


/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
    font-weight: bolder;
}


/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
* Add the correct font style in Android 4.3-.
*/

dfn {
    font-style: italic;
}


/**
* Add the correct background and color in IE 9-.
*/

mark {
    background-color: #ff0;
    color: #000;
}


/**
* Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}


/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
========================================================================== */


/**
* Add the correct display in IE 9-.
*/

audio,
video {
    display: inline-block;
}


/**
* Add the correct display in iOS 4-7.
*/

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
* Remove the border on images inside links in IE 10-.
*/

img {
    border-style: none;
}


/**
* Hide the overflow in IE.
*/

svg:not(:root) {
    overflow: hidden;
}


/* Forms
========================================================================== */


/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button,
input {
    /* 1 */
    overflow: visible;
}


/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
    /* 1 */
    text-transform: none;
}


/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}


/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
* Correct the padding in Firefox.
*/

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}


/**
* Remove the default vertical scrollbar in IE.
*/

textarea {
    overflow: auto;
}


/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
* Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
========================================================================== */


/*
* Add the correct display in IE 9-.
* 1. Add the correct display in Edge, IE, and Firefox.
*/

details,
menu {
    display: block;
}


/*
* Add the correct display in all browsers.
*/

summary {
    display: list-item;
}


/* Scripting
========================================================================== */


/**
* Add the correct display in IE 9-.
*/

canvas {
    display: inline-block;
}


/**
* Add the correct display in IE.
*/

template {
    display: none;
}


/* Hidden
========================================================================== */


/**
* Add the correct display in IE 10-.
*/

[hidden] {
    display: none;
}


/* ----------------------------------------------------------------------
reset (exculding 'sup')
---------------------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

input,
textarea {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

img {
    max-width: 100%;
    vertical-align: middle;
}


/* add reset */

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%;
    /* iOS 8+ */
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: 'Noto Serif JP', serif;
    color: #171c1c;
    line-height: 1.6;
    letter-spacing: .12em;
    overflow-x: hidden;
    background: url(../images/common/bg.jpg) top / 100% auto;
}

*,
 ::before,
 ::after {
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    opacity: 0.7;
}

figure {
    margin: 0;
    padding: 0;
    line-height: 0;
}

figure img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}


/* iOS form reset */

input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
    display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
    outline-offset: -2px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
}

button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}


/* Commonset
-------------------------------------------------------- */


/*   display   */

.dp-block {
    display: block;
}

@media screen and (min-width: 480px) {
    .dp-block-xs {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .dp-block-sm {
        display: block;
    }
}

@media screen and (min-width: 920px) {
    .dp-block-md {
        display: block;
    }
}

@media screen and (min-width: 1272px) {
    .dp-block-lg {
        display: block;
    }
}

@media screen and (min-width: 1480px) {
    .dp-block-xl {
        display: block;
    }
}

.dp-none {
    display: none;
}

@media screen and (min-width: 480px) {
    .dp-none-xs {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .dp-none-sm {
        display: none;
    }
}

@media screen and (min-width: 920px) {
    .dp-none-md {
        display: none;
    }
}

@media screen and (min-width: 1272px) {
    .dp-none-lg {
        display: none;
    }
}

@media screen and (min-width: 1480px) {
    .dp-none-xl {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .dp-block-down-xs {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .dp-block-down-sm {
        display: block;
    }
}

@media screen and (max-width: 1025px) {
    .dp-block-down-md {
        display: block;
    }
}

@media screen and (max-width: 1271px) {
    .dp-block-down-lg {
        display: block;
    }
}

@media screen and (max-width: 1479px) {
    .dp-block-down-xl {
        display: block;
    }
}

@media screen and (max-width: 479px) {
    .dp-none-down-xs {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .dp-none-down-sm {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .dp-none-down-md {
        display: none;
    }
}

@media screen and (max-width: 1271px) {
    .dp-none-down-lg {
        display: none;
    }
}

@media screen and (max-width: 1479px) {
    .dp-none-down-xl {
        display: none;
    }
}


/*  width   */

.w-50 {
    width: 50%!important;
}

.w-60 {
    width: 60%!important;
}

.w-70 {
    width: 70%!important;
}

.w-80 {
    width: 80%!important;
}

.w-90 {
    width: 90%!important;
}

.w-100 {
    width: 100%!important;
}


/* margin */

.mt0 {
    margin-top: 0px;
}

.mr0 {
    margin-right: 0px;
}

.mb0 {
    margin-bottom: 0px;
}

.ml0 {
    margin-left: 0px;
}

.mt5 {
    margin-top: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.ml15 {
    margin-left: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mr25 {
    margin-right: 25px;
}

.mb25 {
    margin-bottom: 25px;
}

.ml25 {
    margin-left: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mr30 {
    margin-right: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml30 {
    margin-left: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mr35 {
    margin-right: 35px;
}

.mb35 {
    margin-bottom: 35px;
}

.ml35 {
    margin-left: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mr40 {
    margin-right: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

.ml40 {
    margin-left: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mr45 {
    margin-right: 45px;
}

.mb45 {
    margin-bottom: 45px;
}

.ml45 {
    margin-left: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mr50 {
    margin-right: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

.ml50 {
    margin-left: 50px;
}

.mt55 {
    margin-top: 55px;
}

.mr55 {
    margin-right: 55px;
}

.mb55 {
    margin-bottom: 55px;
}

.ml55 {
    margin-left: 55px;
}

.mt60 {
    margin-top: 60px;
}

.mr60 {
    margin-right: 60px;
}

.mb60 {
    margin-bottom: 60px;
}

.ml60 {
    margin-left: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mr65 {
    margin-right: 65px;
}

.mb65 {
    margin-bottom: 65px;
}

.ml65 {
    margin-left: 65px;
}

.mt70 {
    margin-top: 70px;
}

.mr70 {
    margin-right: 70px;
}

.mb70 {
    margin-bottom: 70px;
}

.ml70 {
    margin-left: 70px;
}

.mt75 {
    margin-top: 75px;
}

.mr75 {
    margin-right: 75px;
}

.mb75 {
    margin-bottom: 75px;
}

.ml75 {
    margin-left: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mr80 {
    margin-right: 80px;
}

.mb80 {
    margin-bottom: 80px;
}

.ml80 {
    margin-left: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mr85 {
    margin-right: 85px;
}

.mb85 {
    margin-bottom: 85px;
}

.ml85 {
    margin-left: 85px;
}

.mt90 {
    margin-top: 90px;
}

.mr90 {
    margin-right: 90px;
}

.mb90 {
    margin-bottom: 90px;
}

.ml90 {
    margin-left: 90px;
}

.mt95 {
    margin-top: 95px;
}

.mr95 {
    margin-right: 95px;
}

.mb95 {
    margin-bottom: 95px;
}

.ml95 {
    margin-left: 95px;
}

.mt100 {
    margin-top: 100px;
}

.mr100 {
    margin-right: 100px;
}

.mb100 {
    margin-bottom: 100px;
}

.ml100 {
    margin-left: 100px;
}

@media only screen and (max-width: 767px) {
    .mt0 {
        margin-top: 0px;
    }
    .mr0 {
        margin-right: 0px;
    }
    .mb0 {
        margin-bottom: 0px;
    }
    .ml0 {
        margin-left: 0px;
    }
    .sp-mt0 {
        margin-top: 0px !important;
    }
    .sp-mb0 {
        margin-bottom: 0px !important;
    }
    .mt5 {
        margin-top: 2.5px;
    }
    .mr5 {
        margin-right: 2.5px;
    }
    .mb5 {
        margin-bottom: 2.5px;
    }
    .ml5 {
        margin-left: 2.5px;
    }
    .sp-mt5 {
        margin-top: 5px !important;
    }
    .sp-mb5 {
        margin-bottom: 5px !important;
    }
    .mt10 {
        margin-top: 5px;
    }
    .mr10 {
        margin-right: 5px;
    }
    .mb10 {
        margin-bottom: 5px;
    }
    .ml10 {
        margin-left: 5px;
    }
    .sp-mt10 {
        margin-top: 10px !important;
    }
    .sp-mb10 {
        margin-bottom: 10px !important;
    }
    .mt15 {
        margin-top: 7.5px;
    }
    .mr15 {
        margin-right: 7.5px;
    }
    .mb15 {
        margin-bottom: 7.5px;
    }
    .ml15 {
        margin-left: 7.5px;
    }
    .sp-mt15 {
        margin-top: 15px !important;
    }
    .sp-mb15 {
        margin-bottom: 15px !important;
    }
    .mt20 {
        margin-top: 10px;
    }
    .mr20 {
        margin-right: 10px;
    }
    .mb20 {
        margin-bottom: 10px;
    }
    .ml20 {
        margin-left: 10px;
    }
    .sp-mt20 {
        margin-top: 20px !important;
    }
    .sp-mb20 {
        margin-bottom: 20px !important;
    }
    .mt25 {
        margin-top: 12.5px;
    }
    .mr25 {
        margin-right: 12.5px;
    }
    .mb25 {
        margin-bottom: 12.5px;
    }
    .ml25 {
        margin-left: 12.5px;
    }
    .sp-mt25 {
        margin-top: 25px !important;
    }
    .sp-mb25 {
        margin-bottom: 25px !important;
    }
    .mt30 {
        margin-top: 15px;
    }
    .mr30 {
        margin-right: 15px;
    }
    .mb30 {
        margin-bottom: 15px;
    }
    .ml30 {
        margin-left: 15px;
    }
    .sp-mt30 {
        margin-top: 30px !important;
    }
    .sp-mb30 {
        margin-bottom: 30px !important;
    }
    .mt35 {
        margin-top: 17.5px;
    }
    .mr35 {
        margin-right: 17.5px;
    }
    .mb35 {
        margin-bottom: 17.5px;
    }
    .ml35 {
        margin-left: 17.5px;
    }
    .sp-mt35 {
        margin-top: 35px !important;
    }
    .sp-mb35 {
        margin-bottom: 35px !important;
    }
    .mt40 {
        margin-top: 20px;
    }
    .mr40 {
        margin-right: 20px;
    }
    .mb40 {
        margin-bottom: 20px;
    }
    .ml40 {
        margin-left: 20px;
    }
    .sp-mt40 {
        margin-top: 40px !important;
    }
    .sp-mb40 {
        margin-bottom: 40px !important;
    }
    .mt45 {
        margin-top: 22.5px;
    }
    .mr45 {
        margin-right: 22.5px;
    }
    .mb45 {
        margin-bottom: 22.5px;
    }
    .ml45 {
        margin-left: 22.5px;
    }
    .sp-mt45 {
        margin-top: 45px !important;
    }
    .sp-mb45 {
        margin-bottom: 45px !important;
    }
    .mt50 {
        margin-top: 25px;
    }
    .mr50 {
        margin-right: 25px;
    }
    .mb50 {
        margin-bottom: 25px;
    }
    .ml50 {
        margin-left: 25px;
    }
    .sp-mt50 {
        margin-top: 50px !important;
    }
    .sp-mb50 {
        margin-bottom: 50px !important;
    }
    .mt55 {
        margin-top: 27.5px;
    }
    .mr55 {
        margin-right: 27.5px;
    }
    .mb55 {
        margin-bottom: 27.5px;
    }
    .ml55 {
        margin-left: 27.5px;
    }
    .sp-mt55 {
        margin-top: 55px !important;
    }
    .sp-mb55 {
        margin-bottom: 55px !important;
    }
    .mt60 {
        margin-top: 30px;
    }
    .mr60 {
        margin-right: 30px;
    }
    .mb60 {
        margin-bottom: 30px;
    }
    .ml60 {
        margin-left: 30px;
    }
    .sp-mt60 {
        margin-top: 60px !important;
    }
    .sp-mb60 {
        margin-bottom: 60px !important;
    }
    .mt65 {
        margin-top: 32.5px;
    }
    .mr65 {
        margin-right: 32.5px;
    }
    .mb65 {
        margin-bottom: 32.5px;
    }
    .ml65 {
        margin-left: 32.5px;
    }
    .sp-mt65 {
        margin-top: 65px !important;
    }
    .sp-mb65 {
        margin-bottom: 65px !important;
    }
    .mt70 {
        margin-top: 35px;
    }
    .mr70 {
        margin-right: 35px;
    }
    .mb70 {
        margin-bottom: 35px;
    }
    .ml70 {
        margin-left: 35px;
    }
    .sp-mt70 {
        margin-top: 70px !important;
    }
    .sp-mb70 {
        margin-bottom: 70px !important;
    }
    .mt75 {
        margin-top: 37.5px;
    }
    .mr75 {
        margin-right: 37.5px;
    }
    .mb75 {
        margin-bottom: 37.5px;
    }
    .ml75 {
        margin-left: 37.5px;
    }
    .sp-mt75 {
        margin-top: 75px !important;
    }
    .sp-mb75 {
        margin-bottom: 75px !important;
    }
    .mt80 {
        margin-top: 40px;
    }
    .mr80 {
        margin-right: 40px;
    }
    .mb80 {
        margin-bottom: 40px;
    }
    .ml80 {
        margin-left: 40px;
    }
    .sp-mt80 {
        margin-top: 80px !important;
    }
    .sp-mb80 {
        margin-bottom: 80px !important;
    }
    .mt85 {
        margin-top: 42.5px;
    }
    .mr85 {
        margin-right: 42.5px;
    }
    .mb85 {
        margin-bottom: 42.5px;
    }
    .ml85 {
        margin-left: 42.5px;
    }
    .sp-mt85 {
        margin-top: 85px !important;
    }
    .sp-mb85 {
        margin-bottom: 85px !important;
    }
    .mt90 {
        margin-top: 45px;
    }
    .mr90 {
        margin-right: 45px;
    }
    .mb90 {
        margin-bottom: 45px;
    }
    .ml90 {
        margin-left: 45px;
    }
    .sp-mt90 {
        margin-top: 90px !important;
    }
    .sp-mb90 {
        margin-bottom: 90px !important;
    }
    .mt95 {
        margin-top: 47.5px;
    }
    .mr95 {
        margin-right: 47.5px;
    }
    .mb95 {
        margin-bottom: 47.5px;
    }
    .ml95 {
        margin-left: 47.5px;
    }
    .sp-mt95 {
        margin-top: 95px !important;
    }
    .sp-mb95 {
        margin-bottom: 95px !important;
    }
    .mt100 {
        margin-top: 50px;
    }
    .mr100 {
        margin-right: 50px;
    }
    .mb100 {
        margin-bottom: 50px;
    }
    .ml100 {
        margin-left: 50px;
    }
    .sp-mt100 {
        margin-top: 100px !important;
    }
    .sp-mb100 {
        margin-bottom: 100px !important;
    }
}


/* flex */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex.fl-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex.jc-cen {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex.jc-bet {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex.jc-ar {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.flex.jc-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex.ai-cen {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex.ai-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}


/* col */

.col-2>.box {
    width: calc(100% / 2 - 10px);
}

.col-3>.box {
    width: calc(100% / 3 - 10px);
}

.col-4>.box {
    width: calc(100% / 4 - 10px);
}

.col-5>.box {
    width: calc(100% / 5 - 10px);
}

.col-6>.box {
    width: calc(100% / 6 - 10px);
}


/* font-style */

.fs-11 {
    font-size: 1.1rem !important;
}

.fs-12 {
    font-size: 1.2rem !important;
}

.fs-14 {
    font-size: 1.4rem !important;
}

.fs-16 {
    font-size: 1.6rem !important;
}

.fs-18 {
    font-size: 1.8rem !important;
}

.fs-20 {
    font-size: 2rem !important;
}

.fs-22 {
    font-size: 2.2rem !important;
}

.fs-24 {
    font-size: 2.4rem !important;
}

.fs-26 {
    font-size: 2.6rem !important;
}

.fs-28 {
    font-size: 2.8rem !important;
}

.fs-30 {
    font-size: 3rem !important;
}

.fs-36 {
    font-size: 3.6rem !important;
}

.fs-40 {
    font-size: 4rem !important;
}

@media only screen and (max-width: 919px) {
    .fs-14 {
        font-size: 1.2rem !important;
    }
    body,
    .fs-16 {
        font-size: 1.3rem !important;
    }
    .fs-18 {
        font-size: 1.4rem !important;
    }
    .fs-20 {
        font-size: 1.5rem !important;
    }
    .fs-22 {
        font-size: 1.6rem !important;
    }
    .fs-24 {
        font-size: 1.8rem !important;
    }
    .fs-26 {
        font-size: 1.9rem !important;
    }
    .fs-28 {
        font-size: 2rem !important;
    }
    .fs-30 {
        font-size: 2.2rem !important;
    }
    .fs-36 {
        font-size: 2.4rem !important;
    }
    .fs-40 {
        font-size: 2.8rem !important;
    }
}


/* font-weight */

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}


/* font-color */

.cl-wht {
    color: #fff !important;
}

.cl-org {
    color: #ff9035 !important;
}


/*   text-align  */

.ta-cen {
    text-align: center;
}

.ta-left {
    text-align: left !important;
}

.ta-right {
    text-align: right !important;
}


/* background-color */

.bg-wht {
    background: #fff !important;
}


/* letter-spacing */

.letter50 {
    letter-spacing: .05em;
}

.letter75 {
    letter-spacing: .075em;
}

.letter100 {
    letter-spacing: .1em;
}

.letter150 {
    letter-spacing: .15em;
}

.line2 {
    line-height: 2;
}


/* Module
-------------------------------------------------------- */


/* button -----------------*/

.btn a {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    text-align: center;
    padding: 1rem;
    color: #171c1c;
    border: 1px solid #a0a0a0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.btn a::after {
    content: '\f054';
    position: absolute;
    right: 1rem;
    top: 50%;
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    color: #086973;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.btn a:hover {
    color: #fff;
    background: linear-gradient(to right, #06818e, #00494f);
}

.btn a:hover::after {
    content: '\f138';
    color: #fff;
}


/* common -----------------*/

.common__contact {
    position: relative;
    padding: 10rem 0;
    background: url(../images/common/contact_bg.jpg) no-repeat center / cover;
}

.common__contact-item {
    width: 48%;
    padding: 3rem;
    background: rgba(0, 0, 0, .5);
}

.common__contact-tel .number {
    display: inline-block;
}

.common__contact-tel .number .fs-40 {
    font-family: 'Roboto', sans-serif;
}

.common__contact-mail a {
    display: block;
    max-width: 420px;
    margin: 0 auto;
    padding: 2.4rem 1rem;
    color: #fff;
    background: #ff9035;
}

.common__contact-mail a img {
    margin-right: 1rem;
    vertical-align: -.25rem;
}

@media only screen and (max-width: 919px) {
    .common__contact-item {
        width: 100%;
    }
    .common__contact-item+.common__contact-item {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    .common__contact {
        padding: 10vw 0;
    }
}

@media only screen and (max-width: 479px) {
    .common__contact-tel .number {
        font-size: 30px;
        font-size: 3rem;
    }
    .common__contact-tel .number img {
        width: 23px;
        vertical-align: 1px;
    }
}


/* newslist -----------------*/

.newslist__item+.newslist__item {
    margin-top: 3rem;
}

.newslist__item a {
    display: flex;
    flex-wrap: wrap;
    color: #171c1c;
}

.newslist__item-date {
    width: 200px;
}

.newslist__item-title {
    flex: 1;
}

@media screen and (max-width: 919px) {
    .newslist__item-date {
        width: 150px;
    }
}

@media screen and (max-width: 479px) {
    .newslist__item-date {
        width: 100%;
    }
    .newslist__item-title {
        flex: none;
        width: 100%;
    }
}


/* Layout
-------------------------------------------------------- */


/* Container -----------------*/

.content_wrapper,
.content_wrapper_max,
.content_wrapper_min {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 919px) {
    .content_wrapper,
    .content_wrapper_max,
    .content_wrapper_min {
        width: 94%;
    }
}

.content_wrapper {
    max-width: 1200px;
}

.content_wrapper_max {
    max-width: 1400px;
}

.content_wrapper_min {
    max-width: 980px;
}


/* header -----------------*/

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    z-index: 11;
}

.header.is-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.header__gnav-list {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 4%;
    z-index: 5;
}

.header__gnav-list--item:not(.is-contact) {
    position: relative;
    padding: 3.25rem 0;
}

.header__gnav-list--item.current:not(.is-contact)::before,
.header__gnav-list--item:not(.is-contact):hover::before {
    content: '';
    position: absolute;
    left: calc(50% - 40px);
    width: 80px;
    bottom: 0;
    height: 2px;
    background: linear-gradient(to right, #06818e, #00494f);
}

.header__gnav-list--item a {
    color: #171c1c;
    letter-spacing: .1em;
}

.header__gnav-list--item.is-contact {
    padding: 1.75rem;
    text-align: left;
    color: #fff;
    background: linear-gradient(to right, #dbbb55, #905e27);
    line-height: 1.2;
}

.header__gnav-list--item.is-contact i {
    margin-right: 1rem;
}

.header__sptrigger {
    display: none;
}

@media screen and (max-width: 1400px) {
    .header::before {
        left: 330px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 2rem 1rem;
    }
    .header.is-scrolled {
        padding: 1rem;
    }
    .header__gnav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 10vw;
        background: linear-gradient(to bottom, #06818e, #00494f);
        z-index: 9000;
        visibility: hidden;
        opacity: 0;
        overflow-y: scroll;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
        transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
        transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
        transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
        -moz-transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
        -ms-transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
        -o-transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
    .header__gnav-list {
        width: 100%;
        height: 100%;
        padding-left: 0;
        background: none;
        box-shadow: none;
    }
    .header__gnav-list--item:not(.is-contact) {
        width: 100%;
        padding: 0 !important;
        border-bottom: 1px solid #fff;
    }
    .header__gnav-list--item.is-contact {
        width: 100%;
    }
    .header__gnav-list--item a {
        display: block;
        padding: 1rem 0;
        color: #fff;
    }
    .header__sptrigger {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header__sptrigger .tel_link {
        display: block;
        margin-left: 2rem;
        font-size: 2.5rem;
        color: #181717;
    }
}

.navToggle {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .navToggle {
        display: block;
        margin-left: 2rem;
        cursor: pointer;
        z-index: 9999;
    }
    .navToggle div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        width: 38px;
        height: 25px;
        z-index: 9999;
    }
    .navToggle span {
        display: block;
        width: 100%;
        height: 2px;
        background: #2c3a4c;
        -webkit-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
        border-radius: 5px;
    }
    .navopen .navToggle div {
        position: relative;
    }
    .navopen .navToggle span {
        position: absolute;
    }
    .navopen .navToggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .navopen .navToggle span:nth-child(2) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    .navopen .navToggle span:nth-child(3) {
        display: none;
    }
    .navopen .header__gnav {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
        transition: opacity 0.4s, -webkit-transform 0.4s;
        transition: transform 0.4s, opacity 0.4s;
        transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}


/* footer -----------------*/

.footer {
    position: relative;
    padding: 70px 0 25px;
    color: #fff;
    background: #171c1c;
}

.footer .content_wrapper {
    position: relative;
}

.footer .content_wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 210px;
    background: #a0a0a0;
}

.footer__logo img {
    margin-right: 15px;
    vertical-align: -8px;
}

.footer__basic figure {
    margin-right: 10px;
}

.footer__basic p {
    flex: 1;
}

.footer__nav {
    width: 530px;
}

.footer nav ul {
    padding: 0 10px;
}

.footer nav ul li a {
    color: #fff;
    display: block;
    margin: 10px 0;
}

.footer nav ul li a {
    color: #fff;
}

.footer__info-pagetop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 10rem;
    cursor: pointer;
    z-index: 5;
}

.follow_contact {
    position: fixed;
    right: 0;
    top: 30vh;
    text-align: center;
    padding: 2rem 2rem 1rem;
    line-height: 1.2;
    background: linear-gradient(to bottom, #06818e, #00494f);
    z-index: 10;
}

.follow_contact i {
    margin-top: 1.5rem;
    font-size: 125%;
}

@media screen and (max-width: 1200px) {
    .footer .content_wrapper::before {
        left: calc(50% - 100px);
    }
}

@media screen and (max-width: 919px) {
    .footer .content_wrapper {
        justify-content: center;
    }
    .footer .content_wrapper::before {
        display: none;
    }
    .footer__nav {
        width: 100%;
        margin-top: 3rem;
    }
    .footer__info-pagetop {
        right: 0;
        bottom: 0;
        width: 7rem;
    }
}

@media screen and (max-width: 479px) {
    .footer {
        padding: 4rem 0 7rem;
    }
    .footer nav ul {
        width: 49%;
    }
    .follow_contact {
        width: 100%;
        top: auto;
        bottom: 0;
        padding: 1.5rem;
        background: linear-gradient(to right, #06818e, #00494f);
    }
    .follow_contact br {
        display: none;
    }
    .follow_contact i {
        margin: 0 0 0 1rem;
    }
    .footer__info-pagetop {
        bottom: 5rem;
    }
}


/* .main -----------------*/


/* Page
-------------------------------------------------------- */


/* Top -----------------*/

.top {
    overflow-x: hidden;
}

.top .header__logo {
    position: absolute;
    left: 45px;
    top: 25px;
    z-index: 3;
}

.top .header__logo p {
    margin-top: -35px;
}

.top__keyvisual {
    position: relative;
    margin: 40px 45px 100px;
}

.top__keyvisual-slider .slick-dots {
    bottom: 50%;
    right: 0;
    width: 50px;
    padding: 0 10px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    z-index: 2;
}

.top__keyvisual-slider .slick-dots li {
    display: block;
}

.top__keyvisual-slider .slick-dots li button:before {
    font-size: 10px;
    color: #fff;
    opacity: 1 !important;
}

.top__keyvisual-slider .slick-dots li.slick-active button:before {
    color: #dbbb55;
}

.top__keyvisual-copy {
    position: absolute;
    left: 0;
    left: 0;
    right: 0;
    top: 50%;
    color: #fff;
    font-size: 5.2rem;
    letter-spacing: .15em;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.top__keyvisual-basic {
    position: absolute;
    right: 20px;
    top: 20px;
}

@media screen and (min-width: 1025px) {
    .top .header.is-scrolled {
        display: none;
    }
    .top .header__gnav {
        position: absolute;
        left: -45px;
        right: -45px;
        bottom: 0;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
    }
    .top .header__gnav-list {
        background: #fff;
        box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    }
    .top .top-scrolled .header__gnav {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        background: rgba(255, 255, 255, 0.8);
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        box-shadow: 0 0 25px rgba(0, 0, 0, .1);
        z-index: 15;
    }
    .top .top-scrolled .header__gnav .top__logo {
        display: block;
    }
    .top .top-scrolled .header__gnav-list {
        flex: 1;
        max-width: 1000px;
        margin: 0;
        padding-left: 2%;
        background: none;
        box-shadow: none;
    }
}

@media screen and (max-width: 1024px) {
    .top .header__logo {
        position: relative;
        left: 0;
        top: 0;
    }
    .top__keyvisual {
        margin: 0 0 10vw;
    }
    .top__keyvisual-copy {
        font-size: 5vw;
    }
}

@media screen and (max-width: 479px) {
    .top__keyvisual-basic {
        right: 10px;
        top: 10px;
        width: 45px;
    }
}

.top__processing .content_wrapper {
    padding: 60px 0 50px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}

.top__processing-list--item {
    width: 31.5%;
    max-width: 300px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.top__processing-list--item .img {
    position: relative;
}

.top__processing-list--item .img::after {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/top/processing_hover-img.jpg) no-repeat center / cover;
}

.top__processing-list--item .txt {
    position: absolute;
    display: none;
    left: 1rem;
    right: 1rem;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
}

.top__processing-list--item:hover .img::after,
.top__processing-list--item:hover .txt {
    display: block;
}

.top__processing-list--item .ttl {
    padding: 1.6rem 1rem;
    text-align: center;
    letter-spacing: .14em;
    background: #fbfbfb;
}

@media screen and (max-width: 479px) {
    .top__processing .content_wrapper {
        padding: 30px 0;
    }
    .top__processing-list--item {
        width: 49%;
        margin-bottom: 20px;
    }
}

.top__trust {
    position: relative;
    padding-top: 190px;
}

.top__trust::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 100px;
    background: url(../images/top/trust_bg.jpg) no-repeat center / cover;
    z-index: -1;
}

.top__trust-cont {
    max-width: 560px;
    padding: 50px 80px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}

@media screen and (max-width: 479px) {
    .top__trust {
        padding-top: 30vw;
    }
    .top__trust::before {
        bottom: auto;
        height: calc(30vw + 100px);
    }
    .top__trust-cont {
        padding: 30px 15px;
    }
}

.top__facility {
    position: relative;
}

.top__facility figure {
    max-width: calc(50% + 570px);
}

.top__facility-cont {
    position: absolute;
    bottom: 0;
    right: calc(50% - 600px);
    width: 560px;
    padding: 50px 80px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}

@media screen and (max-width: 1200px) {
    .top__facility {
        padding-bottom: calc(180px - 10vw);
    }
    .top__facility-cont {
        right: 0;
    }
}

@media screen and (max-width: 560px) {
    .top__facility {
        padding-bottom: 180px;
    }
    .top__facility-cont {
        right: 3%;
        width: 94%;
        padding: 30px 20px;
    }
}

.top__link-list--item {
    width: 50%;
    height: 325px;
    padding: 10px;
}

.top__link-list--history {
    background: url(../images/top/history_bg.jpg) no-repeat center / cover;
}

.top__link-list--sale {
    background: url(../images/top/sale_bg.jpg) no-repeat center / cover;
}

.top__link-list--item .title {
    width: 100%;
    text-align: center;
}

.top__link-list--item .title::after {
    background: #fff;
}

@media screen and (max-width: 479px) {
    .top__link-list--item {
        width: 100%;
        height: 54vw;
    }
}

.top__news {
    position: relative;
    padding: 30px 0;
}

.top__news::after {
    content: '';
    position: absolute;
    top: 0;
    left: 250px;
    width: 1px;
    height: 100%;
    background: #a0a0a0;
}

.top__news-header {
    width: 185px;
    margin-right: 130px;
}

.top__news-list {
    flex: 1;
}

@media screen and (max-width: 767px) {
    .top__news::after {
        display: none;
    }
    .top__news-header {
        width: 100%;
        margin: 0 0 4rem;
    }
    .top__news-list {
        flex: none;
        width: 100%;
    }
}