<% var myDate={ pageID : 'top' , name : '梶フェルト' , title : '' } %>
<%_ include("_common/_define") _%>
<%- include("_common/_head" ,{data:myDate}) %>
<%- include("_common/_header" ,{data:myDate}) %>

    <!-- ========= keyvisual ========= -->
    <div class="top__keyvisual fw-500">
      <div id="js-topkeyvisual-slider" class="top__keyvisual-slider">
          <div class="item">
              <figure><img src="<%= path(); %>/assets/images/top/ky_img01.jpg" alt="MainVisual01"></figure>
          </div>
          <div class="item">
              <figure><img src="<%= path(); %>/assets/images/top/ky_img02.jpg" alt="MainVisual02"></figure>
          </div>
          <div class="item">
              <figure><img src="<%= path(); %>/assets/images/top/ky_img03.jpg" alt="MainVisual03"></figure>
          </div>
      </div>
      <div class="top__keyvisual-copy">
          <div class="content_wrapper">
              <p>フエルト加工の100年を<br>総合素材加工で次の100年へ</p>
          </div>
      </div>
      <div class="top__keyvisual-basic">
          <figure><img src="<%= path(); %>/assets/images/common/basic.jpg" alt=""></figure>
      </div>

      <div class="dp-none-down-md">
          <nav class="header__gnav">
              <div class="top__logo dp-none">
                  <a href="./"><img src="<%= path(); %>/assets/images/common/sub_logo.png" alt="梶フエルト工業"></a>
              </div>
              <ul class="header__gnav-list flex ai-cen jc-bet fw-700 ta-cen cl-wht">
                  <li class="header__gnav-list--item current"><a href="./">トップ</a></li>
                  <li class="header__gnav-list--item"><a href="./">素材加工</a></li>
                  <li class="header__gnav-list--item"><a href="./">信頼の裏付け</a></li>
                  <li class="header__gnav-list--item"><a href="./">設備一覧</a></li>
                  <li class="header__gnav-list--item"><a href="./">会社概要</a></li>
                  <li class="header__gnav-list--item"><a href="./">お問合せ</a></li>
                  <li class="header__gnav-list--item is-contact flex ai-cen jc-cen">
                      <i class="fas fa-phone-alt fs-36"></i>
                      <span class="tel_link">お急ぎならコチラ<br><span class="fs-30">03-3619-0136</span></span>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
  <!-- ========= / keyvisual END ========= -->

  <!-- ========= main ========= -->
  <main class="main">

      <section class="top__processing mb100">
          <div class="content_wrapper">
              <h2 class="title mb60 ta-cen">総合素材加工</h2>
              <div class="content_wrapper_min">
                  <ul class="top__processing-list flex jc-bet">
                      <li class="top__processing-list--item">
                          <div class="img">
                              <figure><img src="<%= path(); %>/assets/images/top/processing_img01.jpg" alt="羊毛フエルト" class="w-100"></figure>
                              <p class="txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                          </div>
                          <p class="fs-20 ttl">羊毛フエルト</p>
                      </li>
                      <li class="top__processing-list--item">
                          <div class="img">
                              <figure><img src="<%= path(); %>/assets/images/top/processing_img02.jpg" alt="ニードルフエルト" class="w-100"></figure>
                              <p class="txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                          </div>
                          <p class="fs-20 ttl">ニードルフエルト</p>
                      </li>
                      <li class="top__processing-list--item">
                          <div class="img">
                              <figure><img src="<%= path(); %>/assets/images/top/processing_img03.jpg" alt="不織布" class="w-100"></figure>
                              <p class="txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                          </div>
                          <p class="fs-20 ttl">不織布</p>
                      </li>
                      <li class="top__processing-list--item">
                          <div class="img">
                              <figure><img src="<%= path(); %>/assets/images/top/processing_img04.jpg" alt="スポンジ" class="w-100"></figure>
                              <p class="txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                          </div>
                          <p class="fs-20 ttl">スポンジ</p>
                      </li>
                      <li class="top__processing-list--item">
                          <div class="img">
                              <figure><img src="<%= path(); %>/assets/images/top/processing_img05.jpg" alt="ゴム" class="w-100"></figure>
                              <p class="txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                          </div>
                          <p class="fs-20 ttl">ゴム</p>
                      </li>
                      <li class="top__processing-list--item">
                          <div class="img">
                              <figure><img src="<%= path(); %>/assets/images/top/processing_img06.jpg" alt="生地" class="w-100"></figure>
                              <p class="txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                          </div>
                          <p class="fs-20 ttl">生地</p>
                      </li>
                      <li class="top__processing-list--item">
                          <div class="img">
                              <figure><img src="<%= path(); %>/assets/images/top/processing_img07.jpg" alt="両面テープ" class="w-100"></figure>
                              <p class="txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                          </div>
                          <p class="fs-20 ttl">両面テープ</p>
                      </li>
                      <li class="top__processing-list--item">
                          <div class="img">
                              <figure><img src="<%= path(); %>/assets/images/top/processing_img08.jpg" alt="フィルム" class="w-100"></figure>
                              <p class="txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                          </div>
                          <p class="fs-20 ttl">フィルム</p>
                      </li>
                      <li class="top__processing-list--item">
                          <div class="img">
                              <figure><img src="<%= path(); %>/assets/images/top/processing_img09.jpg" alt="その他" class="w-100"></figure>
                              <p class="txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                          </div>
                          <p class="fs-20 ttl">その他</p>
                      </li>
                  </ul>
              </div>
          </div>
      </section>
      <!-- / END processing -->

      <section class="top__trust mb100">
          <div class="content_wrapper">
              <div class="top__trust-cont">
                  <h2 class="title mb40 ta-cen">信頼の裏付け</h2>
                  <p class="fs-22 mb30">企画から納品まで一貫した内製体制幅広い素材への対応を可能にしています。</p>
                  <div class="btn ta-cen fs-18"><a href="./">詳しくはこちら</a></div>
              </div>
          </div>
      </section>
      <!-- / END trust -->

      <section class="top__facility mb100">
          <figure><img src="<%= path(); %>/assets/images/top/facility_img.jpg" alt="" class="w-100"></figure>
          <div class="top__facility-cont ta-cen">
              <h2 class="title mb40">説設備一覧</h2>
              <p class="fs-22 mb30">弊社で使用している設備をご紹介</p>
              <div class="btn fs-18"><a href="./">詳しくはこちら</a></div>
          </div>
      </section>

      <div class="top__link mb100">
          <div class="content_wrapper">
              <div class="top__link-list flex">
                  <a href="./" class="top__link-list--item flex ai-cen top__link-list--history">
                      <p class="title cl-wht fs-40">100年の歴史</p>
                  </a>
                  <a href="./" class="top__link-list--item flex ai-cen top__link-list--sale">
                      <p class="title cl-wht fs-40">生地販売</p>
                  </a>
              </div>
          </div>
      </div>
      <!-- / END link -->

      <section class="mb100">
          <div class="content_wrapper_min">
              <div class="top__news flex jc-bet ai-cen">
                  <div class="top__news-header ta-cen">
                      <h2 class="title fs-36 mb40">お知らせ</h2>
                      <div class="btn"><a href="./">一覧はこちら</a></div>
                  </div>
                  <div class="top__news-list">
                      <ul class="newslist">
                          <li class="newslist__item">
                              <a href="./">
                                  <p class="newslist__item-date fw-700">2021.00.00</p>
                                  <p class="newslist__item-title">お知らせのタイトルが入ります。お知らせのタイトルが入ります。 お知らせのタイトルが入ります。お知らせのタイトルが入ります。 お</p>
                              </a>
                          </li>
                          <li class="newslist__item">
                              <a href="./">
                                  <p class="newslist__item-date fw-700">2021.00.00</p>
                                  <p class="newslist__item-title">お知らせのタイトルが入ります。お知らせのタイトルが入ります。 お知らせのタイトルが入ります。お知らせのタイトルが入ります。 お</p>
                              </a>
                          </li>
                          <li class="newslist__item">
                              <a href="./">
                                  <p class="newslist__item-date fw-700">2021.00.00</p>
                                  <p class="newslist__item-title">お知らせのタイトルが入ります。お知らせのタイトルが入ります。 お知らせのタイトルが入ります。お知らせのタイトルが入ります。 お</p>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      <!-- / END news -->

  </main>
  <!-- ========= / main END ========= -->

<%- include("_common/_foot" ,{data:myDate}) %>