.fadein {
  opacity: 0;
  transform: translate3d(0, 200px, 0) scale(0.95);
  transition: opacity 1s, transform 1s;

  &.is-active {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.fadein_right {
  opacity: 0;
  transform: translateX(200px) scale(0.95);
  transition: opacity 1s, transform 1s;

  &.is-active {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.fadein_left {
  opacity: 0;
  transform: translateX(-200px) scale(0.95);
  transition: opacity 1s, transform 1s;

  &.is-active {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}