// Font Setting
$default-font: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;



// Color Setting
$black:  #171c1c;
$white:  #ffffff;
$gray:  #f2f1f4;
$pink:  #ffc2b4;
$orange:  #ffc2b4;


// Size Setting
$contents-width: 1200px;
$contents-width02: 1400px;
$small-width: 767px;
$middle-width: 1024px;
$large-width: $small_width + 1;




$imagesPath: "../images/";
// printUrl("flow/arrow.png")