@mixin flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&.jc-sa{
		justify-content: space-around;
	}

	&.jc-fs{
		justify-content: flex-start;
	}

	&.jc-fe{
		justify-content: flex-end;
	}

	&.ai-c{
		align-items: center;
	}

	&.sp_fxd-c{
		@include sp{
			flex-direction: column;
		}
	}
}
@mixin pc {
  @media screen and (min-width: $large_width) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $small-width) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $middle-width) {
    @content;
  }
}

@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}




// ----
// * vw変換
//   width: calcvw(200)
$sp-design-width: 375; // SPデザインの幅を設定
@function calcvw($num, $width: $sp-design-width) {
  @return (1vw * $num / $width * 100);
}

// ----
// * rem変換
//   width: calcrem(200)
@function calcrem($size: 24, $base: 16) {
  @return (($size / ($base * 0.625)) + rem);
}

// ----
// * font-size rem変換
//   @include fzrem(200)
@mixin fzrem($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / ($base * 0.625)) + rem;
}

// ----
// * font-size vw変換
//   @include fvw(200)
@mixin fvw($size){
  $winW : 375;
  font-size: ($size / $winW) * 100 + vw;
}

// ----
// * %変換
//   width: percent(200, 100)
@function percent($targetPx, $parentPx){
  @return (floor((($parentPx / $targetPx) * 10000%)) / 100);
}

// ----
// * padding %
//   @include paPercent(500, 20, 5, 20, 5);
@mixin paPercent($parentPxWidth, $pTop, $pRight, $pBottom, $pLeft){
  padding : floor((($pTop / $parentPxWidth) * 10000%)) / 100 floor((($pRight / $parentPxWidth) * 10000%)) / 100 floor((($pBottom / $parentPxWidth) * 10000%)) / 100 floor((($pLeft / $parentPxWidth) * 10000%)) / 100;
}


@function get_per($self, $parent) {
  @return $self / $parent * 100%;
}

@function percent($self, $parent) {
  @return $parent / $self * 100%;
}

// letterspacing
//  @include get_letter_spacing(100);
@mixin get_letter_spacing($size) {
  letter-spacing: $size / 1000 * 1em;
}

// lineheight
//  @include get_line-height(16, 36);
@mixin get_line-height($font, $lh) {
  line-height: $lh / $font;
}

// lineheight Crop
// @include trim_top-lh(1.66667);
@mixin trim_top-lh($line-height) {
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}






// ------------------------------ 関数
@function printUrl($fileName) {
  @return url($imagesPath + $fileName);
}
